@import 'core.import'



@keyframes core-rotate-clockwise
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)




@keyframes core-rotate-counter-clockwise
  0%
    transform rotate(0deg)
  100%
    transform rotate(-360deg)

// ------------------------------------------------------------------------------------
// core-fade-in-up
// ------------------------------------------------------------------------------------
@keyframes core-fade-in-up
  0%
    opacity: 0
    transform: translateY(20px)

  100%
    opacity: 1
    transform: translateY(0)

// ------------------------------------------------------------------------------------
// core-fade-in-down
// ------------------------------------------------------------------------------------
@keyframes core-fade-in-down
  0%
    opacity: 0
    transform: translateY(-20px)

  100%
    opacity: 1
    transform: translateY(0)







