@import 'core.import'



@keyframes core-rotate-clockwise
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)




@keyframes core-rotate-counter-clockwise
  0%
    transform rotate(0deg)
  100%
    transform rotate(-360deg)










