@import 'core.import'


BG_TOP = #FFFFFF
BG_BOTTOM = #E6E6E6

BLUE_BG_TOP = #57B4E9
BLUE_BG_BOTTOM = #0990E0

GREEN_BG_TOP = #5DC35C
GREEN_BG_BOTTOM = #4EA54D

ORANGE_BG_TOP = #FCB340
ORANGE_BG_BOTTOM = #FA9600

BLACK_BG_TOP = lighten(black, 40%)
BLACK_BG_BOTTOM = #232323

RED_BG_TOP = #ED5B54
RED_BG_BOTTOM = #C1362A


a.btn, a[class^='btn-']
  user-select none


a.btn, a[class^='btn-'], button.btn, button[class^='btn-']
  display inline-block
  -webkit-font-smoothing subpixel-antialiased
  box-sizing border-box
  font-family $SANS, 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight 400
  border-radius 5px
  border solid 1px
  cursor pointer
  outline none !important

  // Color.
  color darken(white, 90%)
  border-color #DDDDDD
  border-bottom-color darken(#DDDDDD, 10%)
  text-shadow 0 1px 0 rgba(white ,0.9)
  background linear-gradient(top, BG_TOP 24%, BG_BOTTOM 100%)
  FOCUS_BG = linear-gradient(top, darken(BG_TOP, 5%) 24%, BG_BOTTOM 100%)
  FOCUS_SHADOW_LIGHT = 0px 1px 8px 3px rgba(black, 0.05)
  FOCUS_SHADOW_DARK = 0px 1px 10px 2px rgba(black, 0.18)
  PRESSED_SHADOW = inset 0px 2px 5px 0px rgba(black, 0.2)

  invertedColor()
    color white
    text-shadow 0 -1px 0 rgba(black ,0.3)
    box-shadow 0px 1px 5px 0px rgba(black, 0.14)

  &:hover, &:focus
    transition none

  // Default (Silver).
  &:hover
    background FOCUS_BG
  &:focus
    background FOCUS_BG
    box-shadow FOCUS_SHADOW_LIGHT
    border-color darken(#DDDDDD, 10%)
    border-bottom-color darken(#DDDDDD, 15%)
  &:active
    background FOCUS_BG
    box-shadow PRESSED_SHADOW


  &.blue
    invertedColor()
    border-color #1d93dd
    background linear-gradient(top, BLUE_BG_TOP 15%, BLUE_BG_BOTTOM 87%)
    FOCUS_BG = linear-gradient(top, darken(BLUE_BG_TOP, 15%) 15%, darken(BLUE_BG_BOTTOM, 10%) 87%)
    &:hover
      background FOCUS_BG
    &:focus
      background FOCUS_BG
      border-color darken(#1d93dd, 20%)
      box-shadow FOCUS_SHADOW_DARK
    &:active
      background FOCUS_BG
      box-shadow PRESSED_SHADOW


  &.red
    invertedColor()
    border-color #C6463D
    border-color-bottom #A53A33
    background-image linear-gradient(top, RED_BG_TOP 21%, RED_BG_BOTTOM 84%);
    FOCUS_BG = linear-gradient(top, darken(RED_BG_TOP, 15%) 21%, darken(RED_BG_BOTTOM, 10%) 84%)
    &:hover
      background-image FOCUS_BG
    &:focus
      border-color darken(#C6463D, 20%)
      border-color-bottom darken(#A53A33, 20%)
      box-shadow FOCUS_SHADOW_DARK
    &:active
      box-shadow PRESSED_SHADOW

  &.green
    invertedColor()
    border-color #4FA64E
    border-color-bottom #418A40
    background-image linear-gradient(top, GREEN_BG_TOP 11%, GREEN_BG_BOTTOM 91%);
    FOCUS_BG = linear-gradient(top, darken(GREEN_BG_TOP, 15%) 11%, darken(GREEN_BG_BOTTOM, 10%) 91%)
    &:hover
      background-image FOCUS_BG
    &:focus
      background-image FOCUS_BG
      border-color darken(#4FA64E, 20%)
      border-color-bottom darken(#418A40, 20%)
      box-shadow FOCUS_SHADOW_DARK
    &:active
      background-image FOCUS_BG
      box-shadow PRESSED_SHADOW

  &.orange
    invertedColor()
    border-color #E39718
    border-color-bottom #BC7E14
    background-image linear-gradient(top, ORANGE_BG_TOP 11%, ORANGE_BG_BOTTOM 91%);
    FOCUS_BG = linear-gradient(top, darken(ORANGE_BG_TOP, 8%) 11%, darken(ORANGE_BG_BOTTOM, 5%) 91%)
    &:hover
      background-image FOCUS_BG
    &:focus
      background-image FOCUS_BG
      border-color darken(#E39718, 10%)
      border-color-bottom darken(#BC7E14, 10%)
      box-shadow FOCUS_SHADOW_DARK
    &:active
      background-image FOCUS_BG
      box-shadow PRESSED_SHADOW

  &.black
    invertedColor()
    border-color #303030
    border-color-bottom black
    background-image linear-gradient(top, BLACK_BG_TOP 18%, BLACK_BG_BOTTOM 87%)
    FOCUS_BG = linear-gradient(top, darken(BLACK_BG_TOP, 20%) 18%, darken(BLACK_BG_BOTTOM, 20%) 87%)
    &:hover
      background-image FOCUS_BG
    &:focus
      background-image FOCUS_BG
      box-shadow FOCUS_SHADOW_DARK
    &:active
      background-image FOCUS_BG
      box-shadow PRESSED_SHADOW


// Size ------------------------------------------------------


buttonSize(HEGIHT, FONT_SIZE, HORIZONTAL_PADDING)
  height HEGIHT
  line-height HEGIHT - 2
  font-size FONT_SIZE
  padding 0 HORIZONTAL_PADDING


a.btn, button.btn
  buttonSize(37px, 14px, 25px)

a.btn-mini, button.btn-mini
  buttonSize(23px, 12px, 20px)
  border-radius 3px

a.btn-pill, button.btn-pill
  HEGIHT = 22px
  buttonSize(HEGIHT, 12px, 20px)
  border-radius (HEGIHT / 2)

a.btn-small, button.btn-small
  buttonSize(28px, 13px, 20px)

a.btn-large, button.btn-large
  buttonSize(50px, 20px, 45px)



// ------------------------------------------------------



a.btn[disabled], a[class^='btn-'][disabled], button.btn[disabled], button[class^='btn-'][disabled]
  // Default (silver).
  opacity 0.3
  background BG_BOTTOM

  // Color.
  &.blue
    background rgba(BLUE_BG_BOTTOM, 0.5)
    opacity 0.2
  &.red
    background rgba(RED_BG_BOTTOM, 0.4)
    opacity 0.2
  &.green
    background rgba(GREEN_BG_BOTTOM, 0.5)
    opacity 0.2
  &.orange
    background rgba(ORANGE_BG_BOTTOM, 0.5)
    opacity 0.2
  &.black
    background rgba(BLACK_BG_BOTTOM, 0.5)
    opacity 0.2





