@import 'core.import'

// Buffer style colors
Color-blue = #168eea
Color-dark-blue = #106AAF
Button-color = Color-blue
Button-hover-color = Color-dark-blue


BG_TOP = #FFFFFF
BG_BOTTOM = #E6E6E6

BLUE_BG_TOP = #57B4E9
BLUE_BG_BOTTOM = #0990E0

GREEN_BG_TOP = #5DC35C
GREEN_BG_BOTTOM = #4EA54D

ORANGE_BG_TOP = #FCB340
ORANGE_BG_BOTTOM = #FA9600

DARK_ORANGE_BG_TOP = #FFA05A
DARK_ORANGE_BG_BOTTOM = #FF7A18

BLACK_BG_TOP = lighten(black, 40%)
BLACK_BG_BOTTOM = #232323

RED_BG_TOP = #ED5B54
RED_BG_BOTTOM = #C1362A




a.btn,
a[class^='btn-'],
button.btn,
button[class^='btn-'],
input[type='submit'].btn,
input[type='submit'][class^='btn-'],
.c-button
  display inline-block
  box-sizing border-box
  // font-family $SANS, 'Helvetica Neue', Helvetica, Arial, sans-serif
  // font-weight 400
  // font-style normal
  border solid 1px rgba(0,0,0,0.25)
  cursor pointer
  outline none
  user-select none

  color #fff
  background-image none
  text-shadow none
  box-shadow none


  &:hover, &:focus
    transition none
    color #fff

  // Default (Blue).
  color-blue()
    background-color Button-color
    &:hover
      background Button-hover-color
    &:focus
      background Button-hover-color
    // &:active
    //   background FOCUS_BG
    //   box-shadow PRESSED_SHADOW


  color-red()
    invertedColor()
    border-color #C6463D
    border-color-bottom #A53A33
    background-image linear-gradient(top, RED_BG_TOP 21%, RED_BG_BOTTOM 84%);
    FOCUS_BG = linear-gradient(top, darken(RED_BG_TOP, 15%) 21%, darken(RED_BG_BOTTOM, 10%) 84%)
    &:hover
      background-image FOCUS_BG
    &:focus
      border-color darken(#C6463D, 20%)
      border-color-bottom darken(#A53A33, 20%)
      box-shadow FOCUS_SHADOW_DARK
    &:active
      box-shadow PRESSED_SHADOW


  color-green()
    invertedColor()
    border-color #4FA64E
    border-color-bottom #418A40
    background-image linear-gradient(top, GREEN_BG_TOP 11%, GREEN_BG_BOTTOM 91%);
    FOCUS_BG = linear-gradient(top, darken(GREEN_BG_TOP, 15%) 11%, darken(GREEN_BG_BOTTOM, 10%) 91%)
    &:hover
      background-image FOCUS_BG
    &:focus
      background-image FOCUS_BG
      border-color darken(#4FA64E, 20%)
      border-color-bottom darken(#418A40, 20%)
      box-shadow FOCUS_SHADOW_DARK
    &:active
      background-image FOCUS_BG
      box-shadow PRESSED_SHADOW


  color-orange()
    invertedColor()
    border-color #E39718
    border-color-bottom #BC7E14
    background-image linear-gradient(top, ORANGE_BG_TOP 11%, ORANGE_BG_BOTTOM 91%);
    FOCUS_BG = linear-gradient(top, darken(ORANGE_BG_TOP, 8%) 11%, darken(ORANGE_BG_BOTTOM, 5%) 91%)
    &:hover
      background-image FOCUS_BG
    &:focus
      background-image FOCUS_BG
      border-color darken(#E39718, 10%)
      border-color-bottom darken(#BC7E14, 10%)
      box-shadow FOCUS_SHADOW_DARK
    &:active
      background-image FOCUS_BG
      box-shadow PRESSED_SHADOW

  color-dark-orange()
    invertedColor()
    border-color #E39718
    border-color-bottom #BC7E14
    background-image linear-gradient(top, DARK_ORANGE_BG_TOP 11%, DARK_ORANGE_BG_BOTTOM 91%);
    FOCUS_BG = linear-gradient(top, darken(DARK_ORANGE_BG_TOP, 8%) 11%, darken(DARK_ORANGE_BG_BOTTOM, 5%) 91%)
    &:hover
      background-image FOCUS_BG
    &:focus
      background-image FOCUS_BG
      border-color darken(#E39718, 10%)
      border-color-bottom darken(#BC7E14, 10%)
      box-shadow FOCUS_SHADOW_DARK
    &:active
      background-image FOCUS_BG
      box-shadow PRESSED_SHADOW


  color-black()
    invertedColor()
    border-color #303030
    border-color-bottom black
    background-image linear-gradient(top, BLACK_BG_TOP 18%, BLACK_BG_BOTTOM 87%)
    FOCUS_BG = linear-gradient(top, darken(BLACK_BG_TOP, 20%) 18%, darken(BLACK_BG_BOTTOM, 20%) 87%)
    &:hover
      background-image FOCUS_BG
    &:focus
      background-image FOCUS_BG
      box-shadow FOCUS_SHADOW_DARK
    &:active
      background-image FOCUS_BG
      box-shadow PRESSED_SHADOW


  color-label-only()
    border-color transparent
    background transparent
    box-shadow none
    color darken(white, 50%)
    text-shadow none
    &:hover, &:focus, &:active
      color darken(white, 90%)



  color-blue()

  &.blue, &.c-blue
    color-blue()

  &.red, &.c-red
    color-red()

  &.green, &.c-green
    color-green()

  &.orange, &.c-orange
    color-orange()

  &.dark-orange, &.c-dark-orange
    color-dark-orange()

  &.black, &.c-black
    color-black()

  &.label-only, &.c-label-only
    color-label-only()




// Size ------------------------------------------------------


buttonSize(HEIGHT, FONT_SIZE, HORIZONTAL_PADDING)
  height HEIGHT
  line-height HEIGHT - 2
  font-size FONT_SIZE
  padding 0 HORIZONTAL_PADDING


a.btn, button.btn, input[type='submit'], .c-button
  buttonSize(32px, 14px, 25px)
  border-radius 4px

a.btn-mini, button.btn-mini, input[type='submit'].btn-mini, .c-button.c-mini
  buttonSize(22px, 12px, 20px)
  border-radius 3px

a.btn-pill, button.btn-pill, input[type='submit'].btn-pill, .c-button.c-pill
  HEIGHT = 22px
  buttonSize(HEIGHT, 12px, 20px)
  border-radius (HEIGHT / 2)

a.btn-small, button.btn-small, input[type='submit'].btn-small, .c-button.c-small
  buttonSize(28px, 13px, 20px)
  border-radius 3px

a.btn-large, button.btn-large, input[type='submit'].btn-large, .c-button.c-large
  buttonSize(50px, 20px, 35px)
  border-radius 5px



// ------------------------------------------------------



a.btn[disabled], a[class^='btn-'][disabled],
button.btn[disabled], button[class^='btn-'][disabled]
input[type='submit'].btn[disabled], input[type='submit'][class^='btn-'][disabled],
.c-button[disabled]
  // Default (silver).
  opacity 0.2
  background BG_BOTTOM
  cursor default

  // Color.
  &.blue, &.c-blue
    background rgba(BLUE_BG_BOTTOM, 0.5)
  &.red, &.c-red
    background rgba(RED_BG_BOTTOM, 0.4)
  &.green, &.c-green
    background rgba(GREEN_BG_BOTTOM, 0.5)
  &.orange, &.c-orange
    background rgba(ORANGE_BG_BOTTOM, 0.5)
  &.black, &.c-black
    background rgba(BLACK_BG_BOTTOM, 0.5)

  &.label-only, &.c-label-only
    border-color transparent
    background transparent
    box-shadow none
    color darken(white, 50%)
    &:hover, &:focus, &:active
      color darken(white, 50%)
