@import 'core.import'


.red
  background $RED

// ------------------------------------------------------


.abs-fill
  abs-pos 0, 0, 0, 0


// ------------------------------------------------------


.hidden
  display none
  visibility hidden


// ------------------------------------------------------


.border-box
  box-sizing border-box
  &:before, &:after
    box-sizing border-box
  *, *:before, *:after
    box-sizing border-box


// ------------------------------------------------------


ul.unstyled
  list-style none
  margin 0
  padding 0



// ------------------------------------------------------


.margin-center
  margin-center()


// ------------------------------------------------------


.scroll-x
  overflow-x auto

.scroll-y
  overflow-y auto


// ------------------------------------------------------

.ellipsis
  ellipsis()
